.title {
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin: 16px 0px 0px 16px;
}

.content {
  border: #c4c4c4 solid 1px;
  width: 619px;
  height: 283px;
  background-color: #c4c4c4;
}

.content2 {
  border: "#C4C4C4 solid 1px";
  width: "619px";
  height: "392px";
  margin-top: "20px";
  background-color: "#C4C4C4";
}

.description {
  color: black;
  font-size: 18px;
  line-height: 21.09px;
  margin: 25px 16px 0px 16px;
}
